<app-header></app-header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12" style="padding:0;">
        <app-aside 
          (filteredByname) = "loadfilteredReq($event)" 
        ></app-aside>
      </div>
      <div class="col-lg-8 col-md-12">
        <app-storage 
          [storage]="hotelData" 
          [loadMoreStatus]="loadMoreStatus" 
          (loadMoreReq) = "loadMoreReq($event)"
        ></app-storage>
      </div>
    </div>  
  </div>
</main>